* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  object-fit: cover;
}
ul {
  list-style: none;
}
li {
  margin-bottom: 10px;
}
button {
  border: none;
  background: none;
  cursor: pointer;
}
.app-container {
  max-width: 1200px;
  margin: 0 auto;
}
/* Header */
.header {
  padding: 15px;
  background: #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.nav-list {
  display: flex;
  gap: 20px;
}
.nav-item {
  position: relative;
  cursor: pointer;
}
.submenu {
  position: absolute;
  top: 100%;
  left: 0;
  background: #fff;
  padding: 10px 0;
  margin: 0;
  list-style: none;
  min-width: 150px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  z-index: 1000;
}

.submenu-item {
  padding: 8px 15px;
  cursor: pointer;
}

.submenu-item:hover {
  background: #f5f5f5;
}

/* 공지사항 갤러리 */
.gallery-grid {
  display: flex;
  gap: 10px;
  width: 50%;
}
.tabs-buttons {
  display: flex;
  gap: 20px;
}
.tab-button {
  padding: 10px 20px;
  background: #eee;
  color: #000;
  border-radius: 5px;

  transition: all 0.3s ease;
}
.tab-btn-active {
  background-color: #007bff;
  color: #fff;
  font-weight: bold;
}

/* Footer */
.footer {
  margin-top: 40px;
  padding: 20px;
  background: #eee;
}
